.navbar-brand a {
  color: white;
  text-decoration: none;
}

.page-title {
  margin: 90px 30px 10px;
}

ul {
  width: 600px;
  margin: 0 auto;
}

.flex-country-details {
  display: flex;
  justify-content: center;
}

.detail-group {
  margin: 20px;
}

.flag-image {
  margin: 10px;
}

.flag-image-details-page {
  margin: 10px 0 30px;
}

.country-link {
  color: blue;
  text-decoration: none;
}

.country-name {
  vertical-align: middle;
}

.country-search {
  margin: 20px;
  border: 1px solid lightgray;
  border-radius: 5px;
}
